<h1>Sign In</h1>

<%= form_tag sessions_path do %>
	<div class="field">
		<%= text_field_tag :email, params[:email], placeholder: "Email" %>
	</div>
	<div class="field">
		<%= text_field_tag :password, params[:password],  placeholder: "Password" %>
	</div>
	<div class="actions">
		<%= submit_tag "Sign In" %>
	</div>
<% end %>