
	<div class="field">
		<%= f.text_field :name, placeholder: "e.g. Soap" %> <label>Name</label>
	</div>
	<div class="field">
		<%= f.text_field :description, placeholder: "e.g. Shiney Soap" %> <label>Description</label>
	</div>
	<div class="field">
		<%= f.text_field :price_in_cents, placeholder: "e.g. 2000" %> <label>Price In Cents</label>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
